fastapi
uvicorn[standard]

pydantic
pydantic-settings
email-validator
python-dotenv

sqlalchemy
alembic
pymysql
cryptography

python-jose[cryptography]
passlib[bcrypt]
python-multipart

pandas
numpy

opencv-python
scikit-image
pillow

scikit-learn

httpx
requests

pytest
pytest-asyncio
pytest-mock