fastapi
uvicorn[standard]

pydantic
pydantic-settings
email-validator
python-dotenv

sqlalchemy
alembic
psycopg2-binary

python-jose[cryptography]
passlib[bcrypt]
python-multipart

pandas
numpy
xlsxwriter


scikit-learn

httpx
requests
apscheduler

# Google OAuth
google-auth
google-auth-oauthlib

pytest
pytest-asyncio
pytest-mock

# Geospatial STAC
pystac-client
planetary-computer
odc-stac
xarray
rioxarray
dask
